/*
CSS Rules Syntax
selector {
	property:value;
}
*/

/*Universal Selector*/
/*Targets all elements using the "*" symbol.*/

* {
	font-family: "Courier New", monospace;

	/*CSS Reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Type Selector*/
/*Type Selector - it selects all elements of a specific HTML tag or type.*/

h1 {
	font-family: "Tahoma", sans-serif;
}

body {
	/*background-color: skyblue;*/
	background-image: url(https://images.unsplash.com/photo-1542690970-7310221dbe09?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fHw%3D);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

section {
	text-align: center;
}

nav {
	background-color: white;
	text-align: center;
	/*space between the content of an element and its border.*/
	padding: 15px;
}

a {
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

/*Class Selector*/
/*Class Selector (.) - it selects all elements that have a specific class attribute.*/
.nav-link {
	font-size: 18px;
}

.title {
	color: green;
	margin-top: 10px;
	margin-bottom: 10px;
}

.module-image {
	height: 200px;
	width: 200px;
}

.module-card {
	border: 2px solid black;
	height: 350px;
	width: 800px;
	/*space between the content of an element and its border.*/
	padding: 20px;
	/*space outside the border of an element and between its neighboring elements.*/
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 10px;
}

/*ID Selector*/
/*ID Selector (#) - it selects a specific element by its unique ID.*/

#hello {
	color: black;
	font-size: 2rem;
}

#logo {
	height: 300px;
	width: 300px;
	border-radius: 150px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#modules {
	margin-top: 30px;
}

